<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.disarm.surakshit.pdm">

    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CLEAR_APP_CACHE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <uses-permission-sdk-23 android:name="android.permission.WRITE_SETTINGS" />

    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <application
        android:name=".Database.App"
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.disarm.surakshit.pdm.SplashActivity"
            android:configChanges="orientation|screenSize"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden|adjustUnspecified">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

        <activity
            android:name="com.disarm.surakshit.pdm.SelectCategoryActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/app_name"
            android:screenOrientation="sensor" />

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

        <activity
            android:name="com.disarm.surakshit.pdm.SurakshitActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.disarm.surakshit.pdm.ActivityList"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name="com.disarm.surakshit.pdm.Capture.Photo"
            android:screenOrientation="portrait"
            android:theme="@style/AppCompatAlertDialogStyle" />
        <activity
            android:name="com.disarm.surakshit.pdm.Capture.Video"
            android:screenOrientation="portrait"
            android:theme="@style/AppCompatAlertDialogStyle" />
        <activity
            android:name="com.disarm.surakshit.pdm.Capture.AudioCapture"
            android:label="Record Audio"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.Dialog" />
        <activity
            android:name="com.disarm.surakshit.pdm.WriteSettingActivity"
            android:label="@string/allow_setting"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />

        <service
            android:name="com.disarm.surakshit.pdm.Service.SyncService"
            android:enabled="true"
            android:exported="true" />
        <service
            android:name=".BackgroundProcess.UploadJobService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.firebase.jobdispatcher.ACTION_EXECUTE" />
            </intent-filter>
        </service>
        <service android:name="com.disarm.surakshit.pdm.DisarmConnect.DCService" />
        <service android:name="com.disarm.surakshit.pdm.DisarmConnect.DataMuleService" />

        <activity android:name="com.disarm.surakshit.pdm.OSMMapView" />
        <activity
            android:name="com.disarm.surakshit.pdm.UI_Map"
            android:label="@string/title_activity_ui__map"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>